<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Some suite" verbose="1" data-provider-thread-count="5" parallel="methods" thread-count="5">
    <listeners>
        <listener class-name="scenarios.listeners.AllureTestListener"/>
    </listeners>

    <test name="TTTest">
        <classes>
            <class name="scenarios.ui.UserSettingsTest"/>
        </classes>
    </test>
    <test name="Login">
        <classes>
            <class name="scenarios.ui.LoginTest"/>
        </classes>
    </test>

</suite>